//Text Align
.text-center{
	text-align:$text-center;
}
.text-left{
	text-align:$text-left;
}
.text-right{
	text-align:$text-right;
}
//Padding y Margins
.paddings{
	padding:0 !important;
}
.margins{
	margin:0 !important;
}

//Responsive img
.responsive-img{
	display:block;
	width:100%;
	height:auto;
}

//Container set
.content{
	@include gridle_container();
	@include gridle_centered();
	max-width:1170px;
}