//Menu inline
$inline:inline-block;

//Text Align
$text-center:center;
$text-left:left;
$text-right:right;

//visiblitity
$hidden:hidden;
$visible:visible;
$hide:none;

//Paths
$url_path:'../img/';

//Fonts
$font_francois:'Francois One', 'sans-serif';

//Color
$pri_color:#EB2025;
$sec_color:#FF2225;

$box_color:#888;
